/* :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-bg-primary: #0a0a0a;
  --color-bg-secondary: #111111;
  --color-bg-elevated: #161616;

  --color-text-primary: #f5f5f5;
  --color-text-secondary: #cfcfcf;
  --color-text-muted: #888888;

  --color-border-primary: #262626;
  --color-border-subtle: #1f1f1f;

  --color-accent: #22d3ee;
  --color-accent-soft: #44798b;
  --color-accent-bright: #67e8f9;

  --font-mono: "IBM Plex Mono", monospace;
  --font-sans: "IBM Plex Sans", Geist, Manrope, Inter, sans-serif;
}

/* KaTeX display mode */
span.katex-html {
  color: var(--color-text-secondary);
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
}
